ConsoleApp1/Connected Services/CardServiceClient/CardV1Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.ips.mastercardworldwide.com/type/execution/v1" elementFormDefault="qualified" targetNamespace="http://ws.ips.mastercardworldwide.com/type/execution/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="StatusCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="SUCCESS_WARNING" />
      <xs:enumeration value="NOT_ATTEMPTED" />
      <xs:enumeration value="TIMEOUT" />
      <xs:enumeration value="ERROR" />
      <xs:enumeration value="ERROR_DIRTY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FaultCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SENDER" />
      <xs:enumeration value="RECEIVER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExecutionSystemRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SECURITY" />
      <xs:enumeration value="SYSTEM" />
      <xs:enumeration value="VALIDATION" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>