ConsoleApp1/Connected Services/CardServiceClient/CardV1Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.ips.mastercardworldwide.com/type/currency/v1" elementFormDefault="qualified" targetNamespace="http://ws.ips.mastercardworldwide.com/type/currency/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CurrencyAmountType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="currency" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonNegativeCurrencyAmountType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="currency" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonNegativeAmountWithCurrencyType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="currency" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>