ConsoleApp1/Connected Services/CardServiceClient/CardV1Service7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.ips.mastercardworldwide.com/type/geo/v1" elementFormDefault="qualified" targetNamespace="http://ws.ips.mastercardworldwide.com/type/geo/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PostalAddressWithDateRangeType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PostalAddressType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="startDate" type="xs:date" />
          <xs:element minOccurs="0" maxOccurs="1" name="endDate" type="xs:date" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PostalAddressType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addressLine" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="city" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="countrySubdivision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="county" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="postalCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="country" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddressV1R1Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addressLine" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="city" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="countrySubdivision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="county" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="postalCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="country" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>