ConsoleApp1/Connected Services/CardServiceClient/CardV1Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.ips.mastercardworldwide.com/type/person/v1" elementFormDefault="qualified" targetNamespace="http://ws.ips.mastercardworldwide.com/type/person/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AbstractHumanNameType" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="honorific" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="middleInitial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="suffix" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GenderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M" />
      <xs:enumeration value="F" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AbstractHumanNameV1R1Type" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="honorific" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="middleInitial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="suffix" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>